<div class="{{ include.type | default: "list" }}__item" style="margin-bottom: 1px;"> <!-- 간격 조정 -->
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork" style="margin-bottom: 1px;"> <!-- 간격 조정 -->
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <!-- 타이틀 복원 -->
    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    
    <!-- display_date 필드를 사용하여 입력된 그대로 날짜 표시 -->
    {% if post.display_date %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.display_date }}</p>
    {% endif %}
    
    <!-- venue 삭제 -->
    {% if post.type and post.location %}
      <p class="archive__item-excerpt" itemprop="description">{{post.type}}, {{post.location}}</p>
    {% endif %}
    
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
  </article>
</div>
