<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" style="border-radius: 0;">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons" style="display: none;">
      <!-- Social media links and biographic information here -->
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i>LinkedIn</a></li>
      {% endif %}
      <!-- Add other links as needed -->
    </ul>
  </div>
</div>

<!-- Follow 버튼 클릭 시 소셜 아이콘 토글 -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const followButton = document.querySelector('.btn--inverse');
    const socialIcons = document.querySelector('.author__urls');

    followButton.addEventListener('click', function() {
      if (socialIcons.style.display === 'none' || !socialIcons.style.display) {
        socialIcons.style.display = 'block';
      } else {
        socialIcons.style.display = 'none';
      }
    });
  });
</script>
